# Игнорируем папку node_modules
node_modules/

# Игнорируем временные файлы от редакторов
.vscode/
.idea/

# Игнорируем файлы, связанные с сборкой (например, build, dist)
dist/
build/

# Игнорируем логи
*.log

# Игнорируем конфигурационные файлы среды разработки
.env

